@media (max-width: 1600px) {}

@media (max-width: 1600px) {

    .mySwiperBanner .caption h2 {
        font-size: 44px;
        line-height: 64px;
    }

    .mySwiperBanner .caption p {
        font-size: 16px;
    }

    .heading {
        font-size: 44px;
    }

    .custompad {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .welcome-to-kpk .img-box img {
        height: 660px;
    }
    .latestmodels{width:calc(100vw - ((100vw - 1400px) / 2) - 180px);}
}

@media (max-width: 1199.98px) {

    .mySwiperBanner .caption h2 {
        font-size: 34px;
        line-height: 44px;
    }

    .heading {
        font-size: 34px;
    }

    .description {
        padding-top: 40px;
    }
    .latestmodels{width:calc(100% - 100px);}
    .latestmodels h3{font-size:21px;}
}

@media (max-width: 991.98px) {

    .mySwiperBanner .swiper-button-next,
    .mySwiperBanner .swiper-button-prev {
        width: 50px;
        height: 35px;
    }

    .mySwiperBanner .caption h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .mySwiperBanner .caption p {
        font-size: 14px;
    }

    .custompad {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .title-wrap {
        padding-right: 50px;
    }

    .heading {
        font-size: 28px;
    }
    .lg-hotspot__button{width:20px;height:20px;}
    .lg-hotspot__button:after{width:11px;height:11px;}
    .lg-hotspot__label{width:140px;padding:10px}
    .lg-hotspot__label img{width:120px;}
    .custom-next,
    .custom-prev {
        width: 50px;
        height: 35px;
    }
    .latestmodels .latest-model-img{margin-bottom:20px;}
    .latestmodels h3{font-size:18px;}
    .latestmodels{margin-left:70px;width:calc(100% - 70px);}
}

@media (max-width: 767.98px) {

    .welcome-to-kpk .img-box {
        padding-right: 30px;
    }

    .welcome-to-kpk .img-box img {
        height: 240px;
    }

    .welcome-to-kpk .img-box::after {
        left: 15px;
        top: 15px;
        right: 15px;
        bottom: 15px;
        width: calc(100% - 60px);
        height: calc(100% - 30px);
    }

    .welcome-to-kpk .img-box-2 img {
        height: 240px;
    }

    .welcome-to-kpk .img-box-2::after {
        left: 15px;
        top: 15px;
        right: 15px;
        bottom: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
    }

    .welcome-to-kpk .text-description {
        padding-right: 50px;
    }
    .custom-margin2{margin-top:30px;}
    .welcome-to-kpk .img-box{margin-bottom:30px;}
    .welcome-to-kpk .img-box-2{margin-top:48px;}

}

@media (max-width: 575.98px) {

    .top-bar p,
    ul.contact-info a {
        font-size: 12px;
    }

    .top-bar p,
    ul.contact-info a {
        text-align: center;
    }

    .contact-info {
        text-align: center;
    }

    ul.contact-info li:nth-child(2) {
        margin-left: 10px;
    }

    .custompad {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .heading {
        font-size: 24px;
    }

    .description {
        padding-top: 15px;
    }

    .categorySwiper .swiper-wrapper {
        margin-bottom: 50px;
    }

    .categorySwiper .swiper-pagination {
        max-width: calc(1500px - 200px);
        width: calc(96% - 200px);
    }

    .welcome-to-kpk .img-box{padding-right:0px;}
    .welcome-to-kpk .img-box::after{width:calc(100% - 30px)}
    .custom-margin2{margin-bottom:30px;}
    .welcome-to-kpk .img-box-2{margin-top:28px;}
    .lg-hotspot__label{width:100px;}
    .lg-hotspot__label img{width:90px;}
    .lg-hotspot__label p{font-size:12px;}
    .lg-hotspot__button{width:15px;height:15px;}
    .lg-hotspot__button:after{width:5px;height:5px;}
    .building-bathroom{margin-bottom:30px;}
    .lg-hotspot__button:after{border:3px solid rgb(255, 255, 255,0.5)}
    .btn-c2,.btn-c{padding:7px 17px}
    
}

@media (max-width: 480px) {}